<br /><br />

<div class="panel panel-default centerpane">
  <div class="panel-body">
    <%= form_for @user, :html => { :multipart => true }  do |f| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        
       <b> <%= f.text_field :username,class: "tb", :placeholder => "Username" %></b>
      </div>

      <div class="field">
        
       <b> <%= f.text_field :email,class: "tb", :placeholder => "Email" %></b>
      </div>

      <div class="field">
         
         <%= f.password_field :password, class: "tb", :placeholder => "Password" %>
      </div>
      <div class="field">
         
         <%= f.password_field :password_confirmation, class: "tb", :placeholder => "Password Confirmation" %>
      </div>

      <% if current_user %>
        <% if @user.avatar.file? %>
          <div>
            <ul class="span5">
              <a href="#" class="thumbpic thumbnail">
                <%= image_tag @user.avatar.url(:thumb) %>
              </a>
            </ul>
          </div> 
        <%end%>

        <div class="panel panel-default">
          <div class="panel-body">
            <%= f.file_field :avatar %>
          </div>
        </div>  
      <% end %>

      <div class="actions">
        <%= f.submit "Send", class: "btn btn-primary btn-lg" %>
        <%= link_to 'Back',:back , class: "btn btn-primary btn-lg"%>
      </div>
    <% end %>
  </div>
</div>

