<% if current_user %>
  <h1>Inicio Usuario</h1>
<% else %>
  <div class="jumbotron">
    <h1>Bienvenido a Smiles 4 Us</h1>
    <h4>Iniciar Sesi&oacute;n</h4>
    <%= render "user_sessions/form" %>
  </div>
<% end %>

<% unless current_user.nil? || current_user.level < 101%>
<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Password</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
      <td><%= link_to 'Show', user %></td>
      <td> &nbsp; &nbsp;<%= link_to 'Edit', edit_user_path(user) %></td>
      <td> &nbsp; &nbsp;<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
<%end%>
</table>

<br />

<%= link_to 'New User', new_user_path %>
