<p id="notice"><%= notice %></p>

<div class="jumbotron">
<div class="row">
  <lside><div class="col-md-3">
  	
  	 <ul class="span5">
          
     
 

            <div class="panel panel-primary">
                
                <div class="panel-heading span3">

                              <div class= "centered"><minititle>
                              <span class="glyphicon glyphicon-user"></span>
                              <%= @user.username %></minititle></div>

                    <a href="#" class="thumbpic thumbnail">

                      <% if @user.avatar.file? %>
                        <%= image_tag @user.avatar.url(:medium) %>
                      <% else %>
                        <><%= image_tag("medium/Noimage.jpeg", size: "150x150", alt: "Avatar") %>
                      <% end %>

                    </a>
                  <h3 class="panel-title">Panel title</h3>
                </div>

                      <%= render 'shared/stats' %>
                      <%= render 'follow_form' %>

            </div>
     </ul>




  </div></lside>
  <div class="col-md-9">

		<div class="row">
		  <div class="col-sm-6 col-md-12">
		    <div class="thumbnail">
		      

		      <div class="caption">
             <ul class="nav nav-pills">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
              </ul>



            <div>
              
                



            </div>

		        <h3>Galleries</h3>


            <%= link_to "Add New Showcase", new_showcase_path(), {:remote => true, 'data-controls-modal' =>  "modal-window", 'data-backdrop' => true, 'data-keyboard' => true} %>
            <div class="modal hide fade">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3 class="modal-heading">Modal header</h3>
  </div>
  <div class="modal-body">
    <p>One fine body…</p>
  </div>
  <div class="modal-footer">
    <a href="#" class="btn" data-dismiss="modal">Close</a>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
</div>

		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>

		      </div>
		    </div>
		  </div>
		  
		</div>
  </div>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
