<p id="notice"><%= notice %></p>

<div class="jumbotron">
<div class="row">
  <lside><div class="col-md-3">
  	
  	 <ul class="span5">
          
     
 

            <div class="panel panel-primary">
                
                <div class="panel-heading">

                              <div class= "centered"><minititle>
                              <span class="glyphicon glyphicon-user"></span>
                              <%= @user.username %></minititle></div>

                    <a href="#" class="thumbpic thumbnail">

                      <% if @user.avatar.file? %>
                        <%= image_tag @user.avatar.url(:thumb) %>
                      <% else %>
                        <%= image_tag("medium/Noimage.jpeg", size: "150x150", alt: "Avatar") %>
                      <% end %>
                      <%= render 'shared/stats' %>
                      <%= render 'follow_form' %>
                    </a>
                  <h3 class="panel-title">Panel title</h3>
                </div>

             <ul class="list-group">
                <li class="list-group-item">
                  <span class="badge">14</span>
                  Followers
                </li>
                 <li class="list-group-item">
                  <span class="badge">14</span>
                  groups
                </li>
                  <li class="list-group-item">
                  <span class="badge">14</span>
                  nothing
                </li>
              </ul>

            </div>
     </ul>




  </div></lside>
  <div class="col-md-9">

		<div class="row">
		  <div class="col-sm-6 col-md-12">
		    <div class="thumbnail">
		      

		      <div class="caption">
             <ul class="nav nav-pills">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Profile</a></li>
                <li><a href="#">Messages</a></li>
              </ul>



            <div>
              
                



            </div>


		        <h3>Ready for Data</h3>
		        <p>...</p>
		        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>

		      </div>
		    </div>
		  </div>
		  
		</div>
  </div>
</div>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
