


<% @showcases.each do |showcase| %>
            <div class= "col-md-3 block">

              <div class="panel panel-primary expand">

                <div class="panel-heading" align="center">
                  <td><%= showcase.title %></td>
                </div>

                <div class= "thumbpic padded">
                  <%= link_to user_showcase_path(showcase.gallery.user.id ,showcase.id) do%>
                    <%= image_tag showcase.canvas.url(:square), :class => 'thumbimg' %>

                  <% end %>
                  <div class= "bottom">
                      <%= render 'shared/like_form', :showcase => showcase %>
                    
                    <div class = "hstack">
                      <%= link_to showcase, method: :delete, class: "btn btn-large btn-primary", data: { confirm: 'Are you sure?' },:disable_with => 'loading...' do%>
                        <span class="glyphicon glyphicon-trash"></span>
                      <%end%>
                      </div>
                    </div>
                  </div>
              </div>
            </div>

      
  <% end %>

<div class= "col-md-12"><%= will_paginate @showcases, renderer: BootstrapPagination::Rails %> </div>