



<%= form_for(current_user.gallery.showcase.build) do |f| %>
  <% if @showcase.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@showcase.errors.count, "error") %> prohibited this showcase from being saved:</h2>

      <ul>
      <% @showcase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
    
    <%= hidden_field_tag :gallery, @gallery %><br />


  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

  
    <%= hidden_field_tag :likes, 0 %><br />
    
  
  
    <%= hidden_field_tag :visits, 0 %><br />
    
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
