<p id="notice"><%= notice %></p>

<p>
  <b>Id:</b>
  <%= @showcase.id %>
</p>

<p>
  <b>Description:</b>
  <%= @showcase.description %>
</p>

<p>
  <b>Picture:</b>
  <%= @showcase.picture %>
</p>

<p>
  <b>Upload date:</b>
  <%= @showcase.upload_date %>
</p>

<p>
  <b>Likes:</b>
  <%= @showcase.likes %>
</p>

<p>
  <b>Visits:</b>
  <%= @showcase.visits %>
</p>


<%= link_to 'Edit', edit_showcase_path(@showcase) %> |
<%= link_to 'Back', showcases_path %>
