<p id="notice"><%= notice %></p>


<div class= "jumbotron">

<p>
  
  <h1><%= @showcase.title %></h1>
</p>
by <%= link_to user_path(@showcase.gallery.user) do%>
    <span class="glyphicon glyphicon-user"></span><b><%= @showcase.gallery.user.username%></b>
   <%end%> 
<p>

<p> 
  <%= image_tag @showcase.canvas.url(:original) %>
</p>

<p>
  <b>Upload date:</b>
  <%= @showcase.upload_date %>
</p>

<p>
  <b>Likes:</b>
  <%= @showcase.likes.count %>
</p>

<p>
  <b>Visits:</b>
  <%= @showcase.visits %>
</p>
</div>

<%= render 'comments/post_form'%>
<%= render 'comments/comment_list'%>


<%= link_to 'Edit', edit_showcase_path(@showcase) %> |
<%= link_to 'Back', showcases_path %>
