<p id="notice"><%= notice %></p>

<p>



  <b>Id:</b>
  <%= @gallery.id %>
</p>



<p>
  <b>Description:</b>
  <%= @gallery.description %>
</p>

<div>
<% @gallery.showcases.each do |showcase| %>
    

            <div class= "col-md-4">
              <div class="panel panel-primary">
                <div class="panel-heading" align="center">
                <td><%= showcase.id %></td>
                  
                </div>
                  <div class= "thumbpic">
                    <%= link_to showcase do%>
                      <%= image_tag showcase.canvas.url(:square), :class => 'thumbimg' %>

                    <% end %>
                  </div>
              </div>
            </div>
      
  <% end %>
</div>
<div class= "col-md-12">

<% if @user == current_user %>
<%= render 'shared/showcase_form' %>
<%end %>
<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
</div>



