<!DOCTYPE html>
<html>
  <head>
    <%unless @title ==nil%>

      <title> <%= @title %> </title>
    <%else%>
      <title>  Smiles4Us </title>

    <%end%>
          <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <%= analytics_init if Rails.env.production? %>
  </head>
  <body>
    <nav id="mainav" class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <ul class="nav navbar-nav">
            <% if current_user %>
              <li><%= link_to "Smiles4Us", root_path, class: "navbar-brand" %></li>
              <li><%= link_to "Perfil", current_user %></li>
            <% else %>
              <li><%= link_to "Smiles4Us", root_path , class: "navbar-brand" %></li>
            <% end %>
          </ul>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <form class="navbar-form navbar-right" role="search">
            <ul class="list-inline navbar-right">
              <li>
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Buscar">
                  <button type="submit" class="btn btn-default">Buscar</button>
                </div>
              </li>
              <li>
                <div id="nav">
                  <% unless (params[:controller] == ('users' || 'user_sessions') && params[:action] == ('new'|| 'create')) %>
                    <% if current_user %>
                 		  <%= link_to "Logout", :logout, method: :post %>
          		      <% else %>
                      <%= link_to "Login", :login, class: "btn btn-default" %>
                    <% end %>
          		    <% end %>
                </div>
              </li>
            </ul>
          </form>
        </div><!-- /.navbar-collapse -->

      </div><!-- /.container-fluid -->
    </nav>

    
  <div Id= "welcomebox" class="panelmain panel" align= center>
  <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  <%= yield %>
</div>
  

  </body>
</html>
